.anaBaslik {
    width: 1800px;
    height: 80px;
    border: 1px black solid;
    text-align: center;
    margin-bottom: 1px;
}

.sayfa {
    display: flex;
    width: 1800px;
    height: 1500px;
    border: 1px black solid;
}

.metinIcerikleri {
    padding: 5px;
    width: 520px;
    height: 1480px;
    background-color: #afafaf;
    border: 1px black solid;
}

.gorunus {
    margin-left: 1px;
    padding: 5px;
    width: 580px;
    height: 1480px;
    background-color: #d1d1d1;
    border: 1px black solid;
}

.cv {
    display: flex;
    margin-left: 10px;
    width: 1000px;
    height: 1490px;
    background-color: #dd2e2e;
    border: black 1px solid;
}

.solKolon {
    width: 300px;
    height: 100%;
    background-color: #ad1a1a;
    margin-left: 30px;
}

    .solKolon .kutu {
        width: 275px;
        height: 250px;
        margin: 10px;
        margin-top: 100px;
    }

.sagKolon {
    width: 600px;
    height: 100%;
}

    .sagKolon .baslik {
        margin-top: 35px;
    }

    .sagKolon .kutu {
        width: 500px;
        height: 400px;
        margin: 10px;
        margin-top: 35px;
    }

.foto {
    border: 2px black solid;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 30px 50px 50px 50px;
}

    .foto .fotoYazi {
        text-align: center;
        padding: 85px 0px 0px 0px;
    }

.kutu .baslik {
    font-size: 25px;
    border-bottom: 3px black solid;
    margin-bottom: 10px;
}

.isimKutusu {
    width: 100%;
    background-color: #383838;
    height: 200px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

    .isimKutusu .isim {
        font-size: 50px;
    }

    .isimKutusu .unvan {
        font-size: 30px;
    }

    .isimKutusu .cizgi {
        border-bottom: 3px white solid;
        width: 100px;
        margin: auto;
    }


.duzenlemeBasliklari {
    text-decoration: underline;
}
